/* ---------------------------------- */
/*              Comon CSS             */
/* ---------------------------------- */
:root{
    --main-font: 'Georgia Regular';
    --title-color: #333333;
    --font-color: #666666;
    --gray-bg-font-color: #878787;
    --gray: #f2f2f2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #fff;
    font-family: var(--main-font);
    color: var(--title-color);
}
.container{
    max-width: 1000px;
    width: 95%;
    display: block;
    margin: auto;
}
img{
    width: 100%;
}
/* ---------------------------------- */
/*       header section started       */
/* ---------------------------------- */
.top-header-area{
    background-color: #ba2e1f;
    padding: 15px 0;
}
.inner-header-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mini-menu{
    width: 70%;
}
.mini-menu ul{
    display: flex;
}
.mini-menu ul li{
    list-style-type: none;
    position: relative;
}
.mini-menu ul li a{
    color: #fff;
    font-size: 14px;
    margin-right: 15px;
}
.mini-menu ul li::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 90%;
    background-color: #fff;
    top: 2px;
    right: 5px;
}
.mini-menu ul li:last-child::after{
    display: none;
}
.search-menu form{
    background-color: #fff;
    max-width: 210px;
    width: 100%;
    border-radius: 25px;
    height: 26px;
    display: flex;
    flex-wrap: wrap;
}
.search-menu form input{
    width: 85%;
    height: 100%;
    padding: 1%;
    color: #000;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 7px;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.search-menu form input[type="button"]{
    width: 12%;
    padding: 1%;
    color: #000;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('../photos/search.png');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}
.main-header-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 41px;
    margin-bottom: 41px;
}
.social-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.social-section a{
    background-color: var(--title-color);
    color: #fff;
    margin-left: 15px;
    display: block;
    width: 35px;
    border-radius: 50%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}
.social-section a:hover{
    background-color: #ee802f;
    font-size: 17px;
    box-sizing: border-box;
    transform: rotate(20deg);
    transition: all .5s;
}
/* ---------------------------------- */
/*              nav menu              */
/* ---------------------------------- */
.main-menu{
    background-color: #333333;
    border-radius: 7px;
    position: relative;
    z-index: 2;
}
.main-menu::after{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #2b2b2b;
    z-index: -1;
}
.menu-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu-list li a{
    color: #e9e8e3;
    display: inline-block;
    margin: 13px 14px;
    font-size: 14px;
    text-transform: uppercase;
}
.menu-list li .fa-angle-down{
    color: #fff;
    font-size: 14px;
    margin-right: 7px;
    cursor: pointer;
}
.menu-list li .dropdown-pg1{
    padding-right: 3px;
    margin-right: 0;
}
.menu-list li a:hover{
    color: #ba2e1f;
    transition: .2s;
}
.menu-list li .active{
    color: #ba2e1f;
    cursor: default;
    pointer-events: none;
}
.menu-list li .dropdown-pg1{
    position: relative;
}
/* ------------ dropdown ------------ */
.menu-list li .dropdown-items{
    list-style-type: none;
    position: absolute;
    width: 180px;
    background-color: #444;
    text-align: center;
    display: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.menu-list li .dropdown-items li{
    border-bottom: 1px solid #ffffff1a;
}
.dropdown-btn:hover .dropdown-pg1{
    color: #ba2e1f;
}
.dropdown-btn:hover .dropdown-items{
    display: block;
}
/* ----------- swipper js ----------- */
.swiper {
    max-width: 1000px;
    width: 95%;
    height: 400px;
    z-index: 1;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textbox{
    width: 60%;
}
.textbox h2{
    color: #000;
    text-align: center;
    font-size: 40px;
}
.textbox p{
    margin-top: 10px;
    color: #666;
    text-align: center;
    font-size: 14px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.buttons button{
    margin-right: 15px;
    padding: 10px 40px;
    text-align: center;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    color: #fff;
    border-radius: 7px;
}
.buttons .another{
    background-color: #ee802f;
}
.buttons button:hover{
    background-color: #ba2e1f;
    transition: .3s;
}
.swiperbg-1{
    background-image: url('../photos/s-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiperbg-2{
    background-image: url('../photos/s-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiperbg-3{
    background-image: url('../photos/s-bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiperbg-4{
    background-image: url('../photos/s-bg-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
}
.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: white;
}
.swiper-button-next, .swiper-button-prev{
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 50%;
}
/* ---------------------------------- */
/*         post title section         */
/* ---------------------------------- */
.main-title-post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    overflow: auto;
}
.title-image img{
    width: 400px;
    display: block;
}
.headline-of-title{
    width: 600px;
}
.headline-of-title h1{
    font-family: var(--main-font);
    font-size: 90px;
    margin-left: 45px;
    font-weight: 400;
    letter-spacing: 1px;
}
.headline-of-title p{
    font-family: var(--main-font);
    font-size: 16px;
    margin-left: 45px;
    color: var(--font-color);
    width: 550px;
    letter-spacing: 1px;
    line-height: 22px;
}
.headline-of-title a{
    font-family: var(--main-font);
    font-size: 18px;
    margin-left: 45px;
    color: #ba2e1f;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: right;
    margin-top: 40px;
    float: right;
}
.about-service-review{
    background-color: #f2f2f2;
    padding: 50px 0;
    margin-top: 0;
}
.asr-section{
    display: flex;
    flex-direction: row;
}
.asr{
    width: 33.34%;
    box-sizing: border-box;
    padding-right: 6px;
}
.asr h2{
    color: #676767;
    margin-bottom: 30px
}
.about{
    padding: 0 30px 0 0;
}
.about img{
    border-radius: 5px;
    margin-top: 7px;
}
.about p{
    font-family: var(--main-font);
    font-size: 14px;
    color: #878787;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 20px;
    text-align: justify;
}
.about a{
    font-family: var(--main-font);
    font-size: 14px;
    color: #ba2e1f;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 20px;
    float: right;
}
.group{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.group .thumbs img{
    width: 64px;
    height: 64px;
    border: 1px solid #000001;
    border-radius: 5px;
    margin-right: 20px
}
.group .cpost h3{
    font-family: var(--main-font);
    font-size: 20px;
    color: #878787;
    margin-bottom: 7px;
    width: 80%;
}
.group .cpost p{
    width: 95%;
    font-family: var(--main-font);
    font-size: 14px;
    color: #878787;
    letter-spacing: 1px;
    line-height: 22px;
}
.services a{
    font-family: var(--main-font);
    font-size: 14px;
    color: #ba2e1f;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: -3px;
    float: right;
}
.clients{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.clients img{
    width: 56px;
    margin-right: 15px;
}
.clients h3{
    color: #989898 ;
    font-size: 20px;
}
.clients h3 .normal{
    font-weight: 400;
}
.review .boxr p{
    width: 95%;
    font-family: var(--main-font);
    font-size: 14px;
    color: #878787;
    letter-spacing: 1px;
    line-height: 22px;
}
.review .boxr a{
    font-family: var(--main-font);
    font-size: 14px;
    color: #ba2e1f;
    letter-spacing: 1px;
    line-height: 22px;
    margin-top: 8px;
    float: right;
}
.boxr{
    margin-bottom: 40px;
}
.important{
    background-color: #fff;
    padding: 50px 0;
}
.im-section{
    display: flex;
    flex-wrap: wrap;
}
.im-{
    flex: 25%;
    padding-right: 15px;
}
.im- h3{
    color: #636363;
    font-size: 20px;
    font-family: var(--main-font);
    text-transform: uppercase;
    position: relative;
}
.im- h3::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #666;
    left: 0;
    top: -20px;
}
.im-tweet{
    width: 95%;
    margin-top: 15px;
}
.im-tweet span{
    font-family: var(--main-font);
    font-size: 14px;
    color: #666666;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: justify;
}
.im-tweet a{
    font-family: var(--main-font);
    font-size: 14px;
    color: #ba2e1f;
    letter-spacing: 1px;
    line-height: 22px;
}
.im-tweet p{
    font-family: var(--main-font);
    font-size: 14px;
    color: #666666;
    letter-spacing: 1px;
    line-height: 22px;
}
.quick-link ul{
    width: 90%;
    margin-top: 4px;
}
.quick-link ul li{
    list-style-type: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 7px 0;
}
.quick-link ul li::before{
    content: '»';
    color: #666;
    font-size: 18px;
}
.quick-link ul li a{
    color: #666;
    padding-left: 5px;
}
.quick-link ul li a:hover{
    color: #ba2e1f
}
.post-author{
    margin-top: 15px;
    padding-bottom: 15px;
}
.post-author h4{
    font-size: 17px;
    color: #666;
}
.post-author .title-author{
    color: #666;
    font-size: 14px;
}
.post-author .title-author span{
    color: #ba2e1f;
}
.post-author .title-authors{
    color: #666;
    font-size: 14px;
    margin-bottom: 7px;
}
.post-author .post-c{
    color: #666;
    font-size: 16px;
}
.post-author a{
    color: #ba2e1f;
    font-size: 16px;
    float: right;
    margin-top: 2px;
}
.contact{
    width: 100%;
}
.contact form{
    margin-top: 15px;
}
.contact form input, .contact form textarea{
    width: 100%;
    display: block;
    margin-bottom: 11px;
    outline: 0;
    border: 0;
    padding: 6px 7px;
    background-color: #f2f2f2;
    border-radius: 7px;
    line-height: 25px;
}
.contact form textarea{
    line-height: 20px;
    resize: none;
}
.contact form input[type="button"]{
    width: 80px;
    color: #ba2e1f;
    cursor: pointer;
}
.contact form input[type="button"]:hover{
    width: 80px;
    background-color: #ba2e1f;
    color: #fff;
}
footer{
    background-color: #f2f2f2;
    padding: 26px 0;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.footer-text p{
    color: #919191;
}
